# [ debug | info | notice | warn | error | crit ]
error_log  /var/log/{{ label }}.nginx.error_log  warn;

upstream {{ backend_name }} {
    {% for upstream in upstreams %}
    server {{ upstream }};
    {% endfor %}
}

server {
    server_name {{ domain }};
    listen      80;
    listen      [::]:80;

    location / {
        proxy_pass {{ forward_scheme }}://{{ backend_name }};
    }
}