# [ debug | info | notice | warn | error | crit ]
error_log  /var/log/{{ data.label }}.nginx.error_log  warn;

upstream {{ data.backend_name }} {
    {% for upstream in data.upstreams %}
    server {{ upstream }};
    {% endfor %}
}

server {
    server_name {{ data.domain }};
    listen      80;
    listen      [::]:80;

    location / {
        proxy_pass {{ data.forward_scheme }}://{{ data.backend_name }};
    }
}