# [ debug | info | notice | warn | error | crit ]
error_log  /var/log/stream_{{ data.label }}.nginx.error_log  warn;

# list_info: {{ data.list_info }}

upstream {{ data.backend_name }} {
    {% for upstream in data.upstreams %}
    server {{ upstream }};
    {% endfor %}
}

server {
      listen        {{ data.port }};
      proxy_pass    {{ data.backend_name }};
}