# [ debug | info | notice | warn | error | crit ]
error_log  /var/log/stream_{{ label }}.nginx.error_log  warn;

upstream {{ backend_name }} {
    {% for upstream in upstreams %}
    server {{ upstream }};
    {% endfor %}
}

server {
      listen        {{ port }};
      proxy_pass    {{ backend_name }};
}